* {
    margin: 0;
    padding: 0;
}
:root {
    --dark-blue: #114084;
    --blue: #3466aa;
    --light-blue: #82b7dc;
    --white: #f1f1f1;
    --gray: #808080;
    --dark: #1c1c1c0;
}

body::-webkit-scrollbar {
    display: none;
}


body, html {
    font-family: lexend, 'sans serif';
    margin: 0;
    padding: 0;
}

/* ************************************************************************************************** */

.hero,
.experience {
    padding: 0 4rem;
}

.hero {
    height: 100vh;
    height: 100svh;
    background-image: url('portfolio.jpg');
    background-size: cover;
}


/* ************************************************************************************************** */
 

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
}


p {
    margin: 0;
}

.name {
    color: var(--dark-blue);
    font-size: 2em;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list > li {
    text-decoration: none;
    margin-right: 2em;
}

.nav-list li a {
    color: inherit;
    text-decoration: none;
}


/* ************************************************************************************************** */

.main {
    display: flex;
    height: 92vh;
}

/* ************************************************************************************************** */

.empty {
    display: flex;
    width: 30vw;
}


.title {
    text-shadow: 1px 1px 2px var(--white), 0 0 1em var(--white), 0 0 0.2em var(--light-blue);
    color: var(--blue);
    margin-bottom: 10em;
    margin-top: auto;
    width: 70vw;
}

.title > p {
    padding-left: 5rem;
    border-left: 1rem solid var(--gray);
    font-size: 7em;
}

/* ************************************************************************************************** */


.experience {
    background: #808080;
    height: 100vh;
    height: 100svh;
}

.experience-header {
    position: relative;
        height: 50vh;
}

.text {
    position: absolute;
    bottom: 0;
}

.experience-header h1 {
    font-size: 1em;
}

.experience-header p {
    width: 70%;
    font-size: 3em;
}

.experiences {
    display: flex;
    justify-content: space-evenly;
    height: 50vh;
}

.company {
    cursor: pointer;
    color: #114084;
}

.experiences div {
    width: 20rem;
}
.experiences div h1 {
    font-size: 10em;
}

.experiences div h3 {
    font-size: 2.5em;
}